* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.google-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.google-header header {
    position: absolute;
    top: 0%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.google-header ul {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google-header ul li {
    list-style: none;
    margin-left: 23px;
}

.google-header ul li a {
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.google-header ul li button {
    padding: 5px 10px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 500;
    background-color: cornflowerblue;
    cursor: pointer;

}
.google-header ul li button:hover{
    background-color: blue;
}

.google-header .main {
    width: 547px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -100px;
}

.google-header .main .search-box {
    position: relative;
    width: 100%;
    margin-top: 50px;
}

.google-header .main .search-box .search {
    width: 120%;
    padding: 13px;
    border-radius: 44px;
    outline: none;
    border: 1px solid #cccc;
    margin-top: -17px;
}
.icons{
    position: relative;
}
.icons .image1{
    position: absolute;
    top: -40px;
    left: 17px;
}

.icons .image2{
    position: absolute;
    top: -42px;
    right: -90px;
}
.buttons {
    position: absolute;
    top: 60%;
    right: 37%;
}

.buttons button {
    padding: 10px 16px;
    outline: none;
    border: none;
    margin-left: 20px;
    font-size: 16px;
}

.lang {
    position: relative;
    top: 175px;
    right: 26%;
    font-size: 14px;
    font-weight: 400;
}

/* Footer  */
footer{
    background-color: whitesmoke;

}
.footer-left ul{
    display: inline-block;
    padding: 20px;
}
.footer-left ul li{
    display: inline-block;

}
.footer-left ul li a{
    list-style: none;
    text-decoration: none;
    padding-left: 15px;
    color: gray;
    font-weight: 400;
}
.footer-left ul li a:hover{
    text-decoration: underline;
}
.footer-right ul{
    padding: 20px;
    text-align: center;
}
.footer-right ul li{
    display: inline-block;
}
.footer-right ul li a{
    list-style: none;
    text-decoration: none;
    padding-left: 15px;
    color: gray;
    font-weight: 400;
}
.footer-right ul li a:hover{
    text-decoration: underline;
}